# ETL

Vamos a hacer un archivo ETL para asi poder trabajar con más facilidad con los datasets

In [4]:
import pandas as pd
import numpy as np

Cargaremos los datasets

In [5]:
Hechos = pd.read_csv('data/homicidios_HECHOS.csv')
Victimas = pd.read_csv('data/homicidios_VICTIMAS.csv')

### Proceso ETL del dataset de Hechos

In [6]:
Hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [7]:
Victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016

In [8]:
Hechos.columns = Hechos.columns.str.lower().str.replace(' ', '_').str.replace('á', 'a').str.replace('é', 'e').str.replace('í', 'i').str.replace('ó', 'o').str.replace('ú', 'u')
Hechos.rename(columns={'pos_x': 'longitud', 'pos_y': 'latitud'}, inplace = True)
Hechos

,id,n_victimas,fecha,aaaa,mm,dd,hora,hh,lugar_del_hecho,tipo_de_calle,...,altura,cruce,direccion_normalizada,comuna,xy_(caba),longitud,latitud,participantes,victima,acusado
0,2016-0001,1,1/1/2016,2016,1,1,4:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,1/2/2016,2016,1,2,1:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,1/3/2016,2016,1,3,7:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,1/10/2016,2016,1,10,0:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,1/21/2016,2016,1,21,5:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,12/13/2021,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,12/20/2021,2021,12,20,1:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,12/30/2021,2021,12,30,0:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,12/15/2021,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,11/18/2021,2021,11,18,6:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

Normalizaremos el tipo de dato de la columna "fecha"

In [9]:
# Normalización de la columna fecha
Hechos['fecha'] = pd.to_datetime(Hechos['fecha'])

In [10]:
Hechos.dtypes

id                               object
n_victimas                        int64
fecha                    datetime64[ns]
aaaa                              int64
mm                                int64
dd                                int64
hora                             object
hh                               object
lugar_del_hecho                  object
tipo_de_calle                    object
calle                            object
altura                          float64
cruce                            object
direccion_normalizada            object
comuna                            int64
xy_(caba)                        object
longitud                         object
latitud                          object
participantes                    object
victima                          object
acusado                          object
dtype: object

Eliminaremos columnas no relevantes para nuestro analisis

In [11]:
Hechos.drop(columns=['lugar_del_hecho','calle','altura','cruce','direccion_normalizada','xy_(caba)', 'aaaa','dd'],inplace=True)

Verificamos si nos quedo algún valor nulo en nuestro dataset

In [12]:
Hechos.isnull().sum()

id               0
n_victimas       0
fecha            0
mm               0
hora             0
hh               0
tipo_de_calle    0
comuna           0
longitud         0
latitud          0
participantes    0
victima          0
acusado          0
dtype: int64

Buscamos duplicados

In [13]:
Hechos[Hechos.duplicated()]

Empty DataFrame
Columns: [id, n_victimas, fecha, mm, hora, hh, tipo_de_calle, comuna, longitud, latitud, participantes, victima, acusado]
Index: []

In [14]:
Hechos.head()

,id,n_victimas,fecha,mm,hora,hh,tipo_de_calle,comuna,longitud,latitud,participantes,victima,acusado
0,2016-0001,1,2016-01-01,1,4:00:00,4,AVENIDA,8,-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,1,1:15:00,1,GRAL PAZ,9,-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,1,7:00:00,7,AVENIDA,1,-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,1,0:00:00,0,AVENIDA,8,-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,1,5:20:00,5,AVENIDA,1,-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [15]:
Hechos.to_csv('datasets/homicidios_hechos.csv', index=False)

### Proceso ETL Para el dataset victimas

In [16]:
Victimas

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016
...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,12/12/2021,2021,12,12,PEATON,PEATON,FEMENINO,50,12/12/2021
713,2021-0093,12/13/2021,2021,12,13,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,18,12/18/2021
714,2021-0094,12/20/2021,2021,12,20,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,43,12/20/2021
715,2021-0095,12/30/2021,2021,12,30,CONDUCTOR,MOTO,MASCULINO,27,1/2/2022
716,2021-0096,12/15/2021,2021,12,15,CONDUCTOR,AUTO,MASCULINO,60,12/20/2021

Normalizaremos el nombre de las columnas

In [17]:
# Normalizamos el nombre de las columnas
Victimas.rename(columns=str.lower, inplace=True)
Victimas.head()

,id_hecho,fecha,aaaa,mm,dd,rol,victima,sexo,edad,fecha_fallecimiento
0,2016-0001,1/1/2016,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,1/1/2016
1,2016-0002,1/2/2016,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,1/2/2016
2,2016-0003,1/3/2016,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,1/3/2016
3,2016-0004,1/10/2016,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,1/21/2016,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2/1/2016

Normalizamos los datos de la columna fecha a datetime

In [18]:
# Normalización de la columna fecha
Victimas['fecha'] = pd.to_datetime(Victimas['fecha'])

Eliminaremos las columnas irrelevantes para nuesto análisis

In [19]:
# Eliminación de columnas
Victimas.drop(columns=['aaaa', 'mm', 'dd', 'fecha_fallecimiento'], inplace=True)

Verificamos si existen valores nulos

In [20]:
# Busqueda de nulos
Victimas.isnull().sum()

id_hecho    0
fecha       0
rol         0
victima     0
sexo        0
edad        0
dtype: int64

Buscamos duplicados

In [21]:
Victimas[Victimas.duplicated()]

Empty DataFrame
Columns: [id_hecho, fecha, rol, victima, sexo, edad]
Index: []

Exportamos el dataset limpio

In [22]:
Victimas

      id_hecho      fecha                   rol victima       sexo edad
0    2016-0001 2016-01-01             CONDUCTOR    MOTO  MASCULINO   19
1    2016-0002 2016-01-02             CONDUCTOR    AUTO  MASCULINO   70
2    2016-0003 2016-01-03             CONDUCTOR    MOTO  MASCULINO   30
3    2016-0004 2016-01-10             CONDUCTOR    MOTO  MASCULINO   18
4    2016-0005 2016-01-21             CONDUCTOR    MOTO  MASCULINO   29
..         ...        ...                   ...     ...        ...  ...
712  2021-0092 2021-12-12                PEATON  PEATON   FEMENINO   50
713  2021-0093 2021-12-13  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO   18
714  2021-0094 2021-12-20  PASAJERO_ACOMPAÑANTE    MOTO   FEMENINO   43
715  2021-0095 2021-12-30             CONDUCTOR    MOTO  MASCULINO   27
716  2021-0096 2021-12-15             CONDUCTOR    AUTO  MASCULINO   60

[717 rows x 6 columns]

In [23]:
Victimas.to_csv('datasets/homicidios_victimas.csv')